<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Student Create Page</h1>

<form action="#" th:action="@{create}" th:object="${student}" method="POST">

    <p> FirstName: <input type="text" th:field="*{firstName}"/></p>
    <p> LastName: <input type="text" th:field="*{lastName}"/></p>
    <p> Email: <input type="text" th:field="*{email}"/></p>
    <p>
        <input type="submit" value="Create"/>
        <input type="submit" value="Reset"/>
    </p>
</form>

</body>
</html>